@{
    ViewData["Title"] = "Contato";
}


    
  
        
           <div class="row g-12 bg-light" style="background-image:url(https://i.pinimg.com/originals/84/87/e6/8487e680b07c2dc12f7cdb0f5883cfe0.jpg)" width="100" height="300">

                <div class="col-md-3 md-md-6 mt-4 p-md-4">
                   <h4 class="text-light" >Fale Conosco</h4>
                   <br>
                   <br>
                   <h5 class="text-light" >Preencha os campos ao lado e deixe sua mensagem, se deseja ser um dos nossos parceiros deixe seu contato ou  a sua história se for selecionada poderá ser publicada.
                    desse formulário ao lado.</h5>
                </div>  
                <div class="col-md-6 mb-md-8 p-md-4">
                    <div class="col-md-9 mt-4 p-md-4">
                        <label  class="text-light"  for="exampleFormControlInput1" class="form-label">Nome </label>
                        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Escreva seu nome">
                    </div>
                    <div class="col-md-9 mt-2 p-md-4">
                        <label class="text-light"  for="exampleFormControlInput1" class="form-label">Email </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                    </div>
                  <div class="col-md-12 mt-2 p-md-4">
                      <label class="text-light"  for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite aqui sua dúvidas, seu contato ou sua história..."></textarea>
                       <br>
                   </div>

                </div>
         </div> 

