@{
    ViewData["Title"] = "Notícias";
}

 <a class="align-items-baseline" asp-controller="Noticias" asp-action="Index"><h3 style="color:black">Notícias</h3></a>

    <br />
    <br />

<div class="text-center">   
  
    <h4>D' Negros é um meio de comunicação exclusivo para o público negro, com conteúdo e representatividade que informa o lado negativo e positivo dessa geração, buscando a elevação da autoestima e redução da desiguadade social. Queremos dar voz aos negros e destacar sua criatividade. </h4>
    <br />

    <div class="col-md-12 p-4" style="background-image:url(https://fullhdoboi.ru/wp-content/uploads/_ph/20/720378367.jpg)">
        
          <div class="card-body1 text-center w-200 h-200">
            <br />
             <h4 class="text-light"> "Nossas vidas começam a terminar no dia em que ficamos em silêncio sobre as coisas que importam."</h4>
            <br />
        </div>
       
    </div>
</div> 
             <br />
             <br />

           <div class="card mb-3">
                 <img src="~/css/Rebeca-Andrade.png" class="card-img-top" alt="...">
                 <div class="card-body">
                       <h4 class="card-title">Notícias: Uma das melhores atletas brasileira.  </h4>
                       <p class="card-text">Rebeca Andrade é uma das atletas negras com maior visibilidade. A ginasta ganhou a medalha de prata nas Olimpíadas de Tóquio, garantindo o melhor resultado do Brasil na história da ginástica artística feminina.</p>
                       <p class="card-text"><small class="text-muted">Fonte: https://stealthelook.com.br/6-atletas-negras-que-voce-precisa-conhecer/ </small></p>
                  </div>
           </div>
           <br />
            <br />

              <div class="estilo w=100">
          
          <div class="pacote5">
           <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/yuri.png" class="card-img-top" alt="Comediante">
                  <div class="card-body">
                    <h4 class="card-title"></h4>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Um dos 7 jovens negros que estão fazendo a diferença no mercado. </h4></a>
                    <br />
                    <p class="card-text">Yuri Marçal, vêm ganhando destaque com 1 milhão de seguidor no Instagram, realizando críticas sociais com bastante originalidade, especialmente em temas como racismo, religião e política, mas também o cotidiano. Além disso, produz conteúdos para as redes sociais e, atualmente, comanda o talk show "Cá Entre Nós", no canal do YouTube da MOV, produtora de vídeos do UOL. </p>
                    <br>
                  </div>
                  <div class="card-footer">
                   
                    <small class="text-muted">Fonte: https://folhadirigida.com.br/empregos/noticias/diversidade/7-jovens-negros-que-estao-fazendo-a-diferenca-no-mercado </small>
                  </div>
                </div>
              </div>

               <div class="col">
                <div class="card h-100">
                  <img src="~/css/pintura.png" class="card-img-top" alt="Negros morrem">
                  <div class="card-body">
                    <h4 class="card-title"></h4>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Grandes museus fazem mea culpa por obras e patronos de cunho racista</h4></a>
                    <br />
                    <br />
                    <p class="card-text">No museu Tate Gallery, em Londres, a sala mas divertida onde havia a foto acima, que não têm nada de divertido teve que mudar o nome por causa de uma de suas telas pintadas onde havia uma criança negra escravizada sendo arrastada por seus senhores. Essa imagem gerou protestos e o museu fo obrigado modificar a descrição e reconhecer o racismo na obra. </p>
                    <br>
                  </div>
                  <div class="card-footer">
                    
                    <small class="text-muted">Fonte: https://veja.abril.com.br/cultura/grandes-museus-fazem-mea-culpa-por-obras-e-patronos-de-cunho-racista/  </small>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                  <img src="~/css/padastro.png" class="card-img-top" alt="Trança">
                  <div class="card-body">
                    <h4 class="card-title"></h4>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>O preconceito sofrido pelo padastro de Marília Mendonça, no velório da cantora. </h4></a>
                    <br />
                    <p class="card-text">Todos os meios de comunicação sem saber quem era o homem negro ao lado da mãe de Marília Mendonça, Ruth Dias, a internet o titulou como o segurança que a acompanhava. Deyvid Fabricio, marido de Ruth, tinha uma ótima relação de padrastro com a Marília que cantou no casamento da mãe, celebrado em 2018.  </p>
                    <br>  
                  </div>
                  <div class="card-footer">
                    
                    <small class="text-muted"> Fonte: https://veja.abril.com.br/coluna/veja-gente/espantoso-racismo-velorio-de-marilia-mendonca/ </small>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

         <br />
          <br />


             <div class="card">
                   <div class="card-body">
                        <h4 class="card-title">Racismo e Injúria racial</h4>
                         <p class="card-text"> Vítima de injúria racial, a cantora Andresa Sousa de 34 anos, denunciou a publicitária que deu dois tapas no braço da cantora e disse para Andressa "aprender a cantar, sua negra." </p>
                         <p class="card-text"><small class="text-muted">Fonte: https://g1.globo.com/df/distrito-federal/noticia/2021/12/28/retrospectiva-2021-crimes-contra-negros-mulheres-e-populacao-lgbtqia-crescem-no-df-relembre-casos-que-marcaram-o-ano.ghtml </small></p>
                   </div>
                     <img src="~/css/andressa.png" class="card-img-bottom" alt="Cantora sofre Injuria">
             </div>
             <br />
             <br />



