@{
    ViewData["Title"] = "Empreender";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"> </h1>
    <br />
    <br />
    <h4>Acreditamos na potência que o negro têm, que possamos acender o lado empreendedor de cada um, possibilitando assumir a sua Beleza Negra e mostrá-la para o mundo. </h4>
    <br />

    <div class="col-md-12 p-4" style="background-image:url(https://hair-and-makeup-artist.com/wordpress/wp-content/uploads/2020/01/Background-1024x683.jpg)">
        
          <div class="card-body1 text-center w-200 h-200">
            <br />
             <h4 class="text-light"> Espaço de divulgação de novos empreendedores buscando oportunidade para crescer.</h4>
            <br />
        </div>
       
    </div>
             <br />
             <br />

         <div class="d-flex bg-light">
                  <img src="~/css/2021-12-29 (10).png"  alt="Beleze Divina">

                  <div class="col-md-6 p-4 ps-md-0">
                      <h3 class="mt-5"><br> Salão Beleza Divina </h3>
                      <br>
                      <br>
                     <h5> 
                         Voltado para o público Negro
                       <br>
                       <br>
                       " Onde você pode mostrar suas raizes...
                        <br>
                        O Empoderamento é amar quem somos, fugindo dos padrões de beleza e assumir que ser negro é lindo
                        <br>
                        Local que podemos ser nós mesmos
                        <br>
             
                        Chegou a vez da beleza negra ser exaltada e reconhecida"
                        <br>
                        
                        <br> 
                        
                       <br> 
                     </h5>

                     <br>

                      <a href="" class="stretched-link" style=" color: rgb(14, 114, 230);">Contato com a empresa aqui</a>
                
                  </div>

          </div>    
          <br />

          <br />



        <div class="estilo w=100">
          
          <div class="pacote5">
           <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/2022-01-02 (1).png" class="card-img-top" alt="Unha">
                  <div class="card-body">
                    <h4 class="card-title"> Design de unhas </h4>
                    <p class="card-text">A arte nas suas mãos.</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Esmaltaria Pari's</h4></a>
                    <br>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="#" role="button">Saiba mais</a>
                    <small class="text-muted"> Whatsapp (21) 98765-4321 </small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/2021-12-29 (16).png" class="card-img-top" alt="Barbearia">
                  <div class="card-body">
                    <h4 class="card-title">Barbearia</h4>
                    <p class="card-text">O destino mais badalado para o Natal.</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Old School</h4></a>
                    <br>
                
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="#" role="button">Saiba Mais</a>
                    <small class="text-muted">Whasapp (11) 98554-6545 </small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/brazil.png" class="card-img-top" alt="Cidade do Rio de Janeiro">
                  <div class="card-body">
                    <h4 class="card-title">Pacote Brasil</h4>
                    <p class="card-text">Ofertas arrasadoras para curtir o Ano Novo.</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);">Pacotes Hospedagem + Voo</a>
                    <br>
                    <h6><strike>R$3.300 </strike></h6>
                    <h4> R$2.200</h4>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="#" role="button">Comprar pacote</a>
                    <small class="text-muted">Preço por pessoa </small>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
 </div>


