@{
    ViewData["Title"] = "Empreender";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"> </h1>
    <br />
    <br />
    <h4>Acreditamos na potência que o negro têm, que possamos ascender o lado empreendedor de cada um, possibilitando assumir a sua Beleza Negra e mostrá-la para o mundo. </h4>
    <br />

    <div class="col-md-12 p-4" style="background-image:url(https://hair-and-makeup-artist.com/wordpress/wp-content/uploads/2020/01/Background-1024x683.jpg)">
        
          <div class="card-body1 text-center w-200 h-200">
            <br />
             <h4 class="text-light"> Espaço de divulgação de novos empreendedores buscando oportunidade para crescer.</h4>
            <br />
        </div>
       
    </div>
             <br />
             <br />

         <div class="d-flex bg-light">
                  <img src="~/css/2021-12-29 (10).png"  alt="Beleze Divina">

                  <div class="col-md-6 p-4 ps-md-0">
                      <h3 class="mt-5"><br> Salão Beleza Divina </h3>
                      <br>
                      <br>
                     <h5> 
                         Voltado para o público Negro
                       <br>
                       <br>
                       " Onde você pode mostrar suas raizes...
                        <br>
                        O Empoderamento é amar quem somos, fugindo dos padrões de beleza e assumir que ser negro é lindo
                        <br>
                        Local que podemos ser nós mesmos
                        <br>
             
                        Chegou a vez da beleza negra ser exaltada e reconhecida"
                        <br>
                        
                        <br> 
                        
                       <br> 
                     </h5>

                     <br>

                      <a href="https://www.instagram.com/salao_de_beleza_perolas_negras/" class="stretched-link" style=" color: rgb(14, 114, 230);">Contato com a empresa aqui</a>
                
                  </div>

          </div>    
          <br />

          <br />



        <div class="estilo w=100">
          
          <div class="pacote5">
           <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/2022-01-02 (1).png" class="card-img-top" alt="Unha">
                  <div class="card-body">
                    <h4 class="card-title"> Design de unhas </h4>
                    <p class="card-text">"Não deixe para amanhã, as unhas que você pode fazer hoje!"</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Esmaltaria Pari's</h4></a>
                    <br>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="https://www.instagram.com/design_de_unhas_art/" role="button">Saiba mais</a>
                    <small class="text-muted"> Whatsapp (21) 98765-4321 </small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/Barba.png" class="card-img-top" alt="Barbearia">
                  <div class="card-body">
                    <h4 class="card-title">Barbearia</h4>
                    <p class="card-text">"Qualidade existe quando se atenta aos mínimos detalhes."</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Old School</h4></a>
                    <br>
                
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="https://www.instagram.com/gabrielcunhabarbeiro/" role="button">Saiba mais</a>
                    <small class="text-muted">Whasapp (11) 98554-6545 </small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/2021-12-29 (24).png" class="card-img-top" alt="Trança">
                  <div class="card-body">
                    <h4 class="card-title">Trancista</h4>
                    <p class="card-text">"O cabelo ideal para o seu rosto é aquele que te faz sorrir ao se olhar no espelho."</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Studio Black</h4></a>
                    <br>
               
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="https://www.instagram.com/falatrancista/" role="button">Saiba mais</a>
                    <small class="text-muted">Whasapp (21) 96577-5453 </small>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <br />
        <br />

         <div class="d-flex" style="background-color:black">
                  <img src="~/css/moda.png.jpeg"  alt="Tranças">

                  <div class="col-md-6 p-4 ps-md-0">
                      <h3 class="mt-5 text-light"><br> Moda Afro </h3>
                      <br>
                      <br>
                     <p class="text-light"> 
                         Pensado para as negras
                       <br>
                       <br>
                       " Nenhuma Cultura é superior que a outra entretanto antes do pente chegar à Africa, o cabelo dos africanos já andava arrumado à moda dos seus ancestrais."
                        <br>
                        "Moda africana representam a diversidade e a história de um continente inteiro. Elevando a identidade do individuo que a veste. "
                        <br>
                       
                        <br>
                        <br>
                        
                        <br> 
                        
                       <br> 
                     </p>

                     <br>

                      <a href="" class="stretched-link" style=" color: rgb(14, 114, 230);">Contato com a empresa aqui</a>
                      <p class="card-text"><small class="text-muted">Conheça o Instagran:https://instagram.com/modaafroangolana?utm_medium=copy_link </small></p>
                
                  </div>

          </div>    
          <br />
          <br />
          <div class="estilo w=100">
          
          <div class="pacote5">
           <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/acessorios.png" class="card-img-top" alt="Acessorios">
                  <div class="card-body">
                    <h4 class="card-title"> Acessórios Africanos </h4>
                    <p class="card-text">"Especialista em todos os tipos de acessórios africanos, trazendo turbantes,brincos, colares exaltando criatividade."</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Negaju Acessórios</h4></a>
                    <br>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="https://www.instagram.com/sauda.afro/" role="button">Saiba mais</a>
                    <small class="text-muted"> Whatsapp (21) 98995-4421 </small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/trancas.png" class="card-img-top" alt="Trancista">
                  <div class="card-body">
                    <h4 class="card-title">Trancista</h4>
                    <br />
                    <br />
                    <p class="card-text">"Trancista é a mão da sabedoria, conectada a tudo que foi vivido pelos seus ancestrais"</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Afrobraids</h4></a>
                    <br>
                
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="https://www.instagram.com/trancistadonapretta/" role="button">Saiba mais</a>
                    <small class="text-muted">Whasapp (11) 98555-4345 </small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="~/css/sobrancelha.png" class="card-img-top" alt="Sobrancelhas">
                  <div class="card-body">
                    <h4 class="card-title">Design de sobrancelhas</h4>
                    <br />
                    <br />
                    <p class="card-text">"A vida é muito curta para não ter sobrancelhas perfeitas"</p>
                    <a href="#" class="stretched-link" style=" color: rgb(23, 24, 24);"><h4>Spa das Sobrancelhas</h4></a>
                    <br>
               
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-success" href="https://www.instagram.com/sobrancelhasencantadoras/" role="button">Saiba mais</a>
                    <small class="text-muted">Whasapp (21) 96599-5759 </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
     
</div>













