@{
    ViewData["Title"] = "Consumidor";
    var consumidores = ViewData["Consumidores"] as List<Consumidor>;
}

<h1> Gerenciamneto de Clientes  </h1>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Clientes cadastrados</h2>
                <table class="table bg-light">
                    <thead>
                       <tr>
                          <th>Id</th>
                          <th>Nome</th>
                          <th>CPF</th>
                          <th>End.</th>
                          <th>Compl.</th>
                          <th>Cidade</th>
                          <th>Estado</th>
                          <th>Email</th>
                          <th>Tel.</th>
                          <th>Dt Nasc</th>
                          <th>Sexo</th>
                      </tr>
                  </thead>
                  <tbody>



                  </tbody>
               </table>



        </div>


    </div>





</div>
